p Shape utilities are used for change element shapes.

.docs-demo.columns
  .column.col-6.text-center
    .bg-primary.text-light.docs-shape.rounded.centered
      | rounded
  .column.col-6.text-center
    .bg-primary.text-light.docs-shape.circle.centered
      | circle

pre.code(data-lang='HTML')
  code
    :highlight(lang="html")
      <!-- rounded element -->
      <div class="rounded"></div>
      <!-- circle element -->
      <div class="circle"></div>