/*! Spectre.css Docs | MIT License | github.com/picturepan2/spectre */
/* Spectre version */
.version::after {
  content: "0.2.15";
}
// Core variables and mixins
@import '../../src/variables.less';
@import '../../src/mixins.less';

/* Spectre docs style */
.section-header {
  background: fade(@bg-color, 90%);
  padding: 10px 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.section-hero {
  padding: 10px;
  position: relative;
  z-index: 300;
}

.section-footer {
  color: @gray-color;
  padding: 25px 15px 10px 15px;
  position: relative;
  z-index: 200;

  a {
    color: @gray-color-dark;
  }
}

.grid-header {
  .navbar {
    height: 40px;
  }

  .navbar-section {
    padding: 0;
  }

  .navbar-brand {
    color: @body-font-color;
  }

  .btn-link {
    color: lighten(@body-font-color, 10%);
    margin-left: -5px;
    padding-left: 6px;
    padding-right: 6px;

    &:focus,
    &:hover,
    &:active {
      color: @body-font-color;
      opacity: .75;
    }
  }
}

.grid-hero {
  margin-top: 100px;
  margin-bottom: 40px;

  h1 {
    color: @body-font-color;
    font-size: 32px;
    font-weight: 400;
  }

  h2 {
    color: lighten(@body-font-color, 5%);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;

    u {
      border-bottom: 2px solid currentColor;
      padding-bottom: 1px;
      text-decoration: none;
    }
  }

  .card {
    background: none;
    border: 0;
    color: lighten(@body-font-color, 10%);
    padding: 10px;

    .card-title {
      color: @primary-color;
      font-size: 18px;
      margin-bottom: 0;
    }
  }
}

.docs-container {
  height: 100%;
  overflow: auto;
}

.docs-content {
  padding-top: 0;

  .container {
    padding: 10px;
  }

  header {
    padding-top: 55px;
  }

  .anchor {
    height: 0;
    margin-left: -1em;
    overflow: hidden;
    padding: 0 @unit-1;
    position: absolute;
    width: 0;
    &:focus,
    &:hover {
      height: auto;
      text-decoration: none;
      width: auto;
    }
  }

  .notes {
    margin: 40px 0;
  }

  .docs-block {
    border-radius: 2px;
    padding: 10px 5px;
  }

  .docs-dot {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    padding: 0;
    width: 10px;
  }

  .docs-table {
    th,
    td {
      padding: 15px 5px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 20px;
    margin-bottom: 20px;

    &:hover {
      .anchor {
        height: auto;
        width: auto;
      }
    }
  }

  .docs-color {
    border-radius: @border-radius;
    margin: 5px 0;
    padding: 10px;

    .color-subtitle {
      font-size: @font-size-sm;
      opacity: .75;
    }
  }

  .panel {
    height: 75vh;

    .tile {
      margin: 15px 0;
    }
  }

  .code {
    color: lighten(@body-font-color, 10%);

    .com {
      color: @gray-color;
    }
    .tag {
      color: @primary-color;
    }
    .atn {
      color: lighten(@body-font-color, 10%);
    }
    .atv {
      color: #e06870;
    }
  }

  .empty .icon {
    font-size: 40px;
  }

  .form-autocomplete .menu {
    position: static;
  }

  .example-tile-icon {
    align-content: space-around;
    align-items: center;
    background: @primary-color;
    border-radius: 2px;
    color: @light-color;
    display: flex;
    font-size: 24px;
    height: 40px;
    width: 40px;

    .icon {
      margin: auto;
    }
  }

  .comparison-slider {
    .filter-grayscale {
      filter: grayscale(75%);
    }
  }
}

.docs-sidebar {
  width: 240px;
  
  .accordion {
    input {
      &:checked {
        & ~ .accordion-header {
          font-weight: bold;
        }
      }
    }

    .menu {
      .menu-item {
        & > a {
          padding-left: @unit-4;
        }
      }
    }
  }
}

@media screen and (min-width: 601px) {
  .section-header {
    .navbar-section {
      padding: 0 5px;
    }
  }

  .docs-sidebar {
    padding: 70px 10px 30px 10px;
    position: relative;

    .docs-nav {
      bottom: 30px;
      height: ~"calc(100vh - 120px)";
      overflow-y: auto; 
      position: fixed;
      top: 90px;
      width: 200px;
    }
  }

  .docs-content {
    width: ~"calc(100% - 240px)"; // Using CSS3 native calc() function
  }
}

.docs-nav-clear {
  display: none;
}

// Spectre.css Docs Mobile experience
@media screen and (max-width: 600px) {
  .grid-hero {
    h2 {
      font-size: 18px;
    }
    .card {
      padding: 0;
    }
  }

  .docs-sidebar {
    background: @bg-color-light;
    height: 100%;
    overflow-y: auto;
    padding: 60px 30px;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform .2s ease;
    z-index: 400;

    &:target {
      transform: translateX(0);
      transition: transform .2s ease;

      & + .docs-nav-clear {
        display: block;
      }
    }
  }

  .docs-nav-clear {
    background: rgba(0, 0, 0, .15);
    display: none;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 300;
  }
}
