/*! Spectre.css Docs | MIT License | github.com/picturepan2/spectre */
/* Spectre version */
.version::after {
  content: "0.4.1";
}
// Core variables and mixins
@import '../../src/variables';
@import '../../src/mixins';

/* Spectre New Docs */
.s-container {
  & > .columns {
    flex-flow: nowrap;
    min-height: 100vh;
  }
}

.s-sidebar {
  background: $bg-color;
  flex: 0 0 auto;
  padding: 1.5rem 0 1.5rem 1.5rem;
  width: 12rem;

  .s-nav {
    bottom: 1.5rem;
    overflow-y: auto; 
    position: fixed;
    top: 5rem;
    width: 10.5rem;
  }

  .accordion {
    margin-bottom: .75rem;

    input {
      & ~ .accordion-header {
        color: lighten($dark-color, 10%);
        font-size: $font-size-sm;
        font-weight: 600;
        text-transform: uppercase;
      }
      
      &:checked {
        & ~ .accordion-header {
          color: lighten($dark-color, 15%);
        }
      }
    }

    .menu {
      .menu-item {
        padding-left: 1rem;
        
        & > a {
          background: transparent;
          color: $gray-color-dark;
          display: inline-block;
        }
      }
    }
  }
}

.s-content {
  flex: 1 1 auto;
  max-width: 960px;
  padding: 0 4rem;
  width: calc(100vw - 12rem);

  & > .container {
    padding-bottom: 1.5rem;
  }

  .anchor {
    color: $primary-color-light;
    height: 0;
    margin-left: -2em;
    overflow: hidden;
    padding: 0 1em;
    position: absolute;
    text-align: center;
    width: 0;
    z-index: $zindex-1;
    &:focus,
    &:hover {
      box-shadow: none;
      height: auto;
      text-decoration: none;
      width: 2em;
    }
  }
  
  .s-title,
  .s-subtitle {
    line-height: 1.6rem;
    margin-bottom: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: static;

    @supports (position: sticky) {
      position: sticky;
      top: 0;
      z-index: $zindex-2;

      &::before {
        background: $light-color;      
        bottom: 0;
        content: "";
        display: block;
        left: -10px;
        position: absolute;
        right: -10px;
        top: -5px;
        z-index: -$zindex-0;
      }
    }

    &:hover {
      .anchor {
        height: auto;
        width: 1em;
      }
    }

    & + .docs-note {
      margin-top: .4rem;
    }
  }

  .docs-note {
    margin: 1.5rem 0;
  }

  .column {
    padding: $layout-spacing;
  }

  .docs-block {
    border-radius: $border-radius;
    padding: $unit-2;

    &.bg-gray {
      background: $bg-color-dark;
    }
  }

  .docs-shape {
    height: 4.8rem;
    line-height: 1.2rem;
    padding: 1.8rem 0;
    width: 4.8rem;
  }

  .docs-dot {
    border-radius: 50%;
    display: inline-block;
    height: .5rem;
    padding: 0;
    width: .5rem;
  }

  .docs-table {
    th,
    td {
      padding: .75rem .25rem;
    }
  }

  .docs-color {
    border-radius: $border-radius;
    margin: .25rem 0;
    padding: .5rem;

    .color-subtitle {
      font-size: $font-size-sm;
      opacity: .75;
    }
  }

  .panel {
    height: 75vh;

    .tile {
      margin: .75rem 0;
    }
  }

  .parallax {
    margin: 2rem auto;
  }

  .code {
    color: lighten($body-font-color, 10%);

    .com {
      color: $gray-color;
    }
    .tag {
      color: $primary-color;
    }
    .atn {
      color: lighten($body-font-color, 10%);
    }
    .atv {
      color: #e06870;
    }

    &[data-lang="Bash"] {
      .tag {
        margin-right: 1em;
        user-select: none;
      }
    }
  }

  .empty .icon {
    font-size: 2rem;
  }

  .form-autocomplete .menu {
    position: static;
  }

  .example-tile-icon {
    align-content: space-around;
    align-items: center;
    background: $primary-color;
    border-radius: $border-radius;
    color: $light-color;
    display: flex;
    font-size: 1.2rem;
    height: 2rem;
    width: 2rem;

    .icon {
      margin: auto;
    }
  }

  .comparison-slider {
    height: auto;
    padding-bottom: 56.2222%;

    .filter-grayscale {
      filter: grayscale(75%);
    }
  }
}

.s-brand {
  color: $primary-color;
  left: 0;
  padding: 0 1.5rem;
  position: fixed;
  top: 1.3rem;

  .s-logo {
    align-items: center;
    border-radius: $border-radius;
    display: inline-flex;
    height: 2rem;
    padding: .2rem;
    width: auto;
    
    &:focus,
    &:hover {
      text-decoration: none;
    }
  
    img {
      display: inline;
      height: auto;
      width: 1.6rem;
    }
  
    h2 {
      display: inline;
      font-size: .8rem;
      font-weight: 500;
      margin-bottom: 0;
      margin-left: .5rem;
      margin-right: .5rem;
    }
  }
}

.s-footer {
  color: $gray-color;
  padding: .5rem .5rem 1.5rem .5rem;

  a {
    color: $gray-color-dark;
  }
}

/* Spectre Homepage style */
.section-hero {
  padding: 1rem .5rem;

  .s-brand {
    position: absolute;
    top: .5rem;

    h2 {
      color: $primary-color;
    }
  }

  .column {
    padding: $layout-spacing;
  }
}

.section-updates {
  padding: 4.5rem .5rem 3.5rem .5rem;

  .card {
    border: 0;
    color: lighten($body-font-color, 15%);
    margin-bottom: 1rem;
  }
}

.section-features {
  padding: 4.5rem .5rem;

  .column {
    padding: $layout-spacing;
  }
}

.section-footer {
  color: $gray-color;
  padding: 1.8rem .75rem 1rem .75rem;
  position: relative;
  z-index: 200;

  a {
    color: $gray-color-dark;
  }
}

.grid-hero {
  padding-bottom: 2rem;
  padding-top: 6rem;
  position: relative;

  h1 {
    color: $body-font-color;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }

  h2 {
    color: lighten($body-font-color, 5%);
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;

    u {
      border-bottom: $border-width-lg solid currentColor;
      padding-bottom: $unit-o;
      text-decoration: none;
    }
  }

  .card {
    background: none;
    border: 0;
    color: lighten($body-font-color, 15%);
    padding: .5rem;

    .card-title {
      color: $primary-color;
      font-size: .9rem;
      margin-bottom: 0;
    }
  }
}

.docs-nav-clear {
  display: none;
}

.s-navbar {
  height: 3.5rem;
  left: 0;
  padding: .75rem 1.5rem;
  position: fixed;
  text-align: center;
  z-index: $zindex-4;

  .s-logo,
  .menu-btn {
    display: none;
  }

  .float-btn {
    position: fixed;
    right: 4rem;
    top: 1.5rem;
  }
}

@media (max-width: 880px) {
  .s-sidebar {
    background: $bg-color;
    bottom: 0;
    overflow-y: auto;
    padding: 3rem 1.5rem;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform .2s ease;
    z-index: 400;

    &:target {
      transform: translateX(0);
      transition: transform .2s ease;

      & + .docs-nav-clear {
        display: block;
      }
    }

    .s-brand {
      margin-top: -1.7rem;
      padding: 0;
      position: static;
    }

    .s-nav {
      margin-top: 2rem;
      position: static;
    }

    .menu .menu-item > a {
      padding: .3rem .4rem;
    }
  }

  .s-navbar {
    backdrop-filter: blur(10px);
    background: rgba($bg-color, .65);
    right: 0;
    top: 0;
    z-index: $zindex-2;

    .menu-btn {
      display: block;
      left: 2.6rem;
      position: fixed;
      top: .95rem;

      .btn {
        font-size: 1rem;
      }
    }

    .s-logo {
      align-items: center;
      border-radius: $border-radius;
      display: inline-flex;
      height: 2rem;
      padding: .2rem;
      width: auto;
    }

    .float-btn {
      right: 2.9rem;
      top: .95rem;
    }
  }

  .docs-nav-clear {
    background: rgba(0, 0, 0, .15);
    display: none;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: $zindex-3;
  }

  .s-content {
    min-width: auto;
    padding: 0 2.5rem;
    width: 100%;

    .s-title,
    .s-subtitle {
      padding-top: 5rem;
      position: static;

      &::before {
        content: none;
      }
    }
  }

  .section-hero {
    .s-brand {
      height: 5rem;
      padding: 1.5rem .5rem;
      text-align: center;
      width: 100%;

      .s-logo {
        height: auto;
      }

      img {
        height: 3.2rem;
        width: 3.2rem;
      }

      h2 {
        display: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .grid-hero {
    h2 {
      font-size: .9rem;
    }
    .card {
      padding: 0;
    }
  }

  .s-content {
    padding: 3.5rem .5rem 0 .5rem;

    .docs-block {
      padding: $unit-2 $unit-h;
    }

    .anchor {
      display: none;
    }
  }

  .s-navbar {
    .menu-btn {
      left: .65rem;
    }

    .float-btn {
      right: 1rem;
    }
  }
}