extends _layout/_docs-layout.pug

block variables
  - var slug = 'getting-started'
  - var parent = 'getting-started'
  - var title = 'Getting started - Spectre.css CSS Framework'
  - var description = 'Spectre.css is a lightweight, responsive and modern CSS framework for faster and extensible development. Spectre provides basic styles for typography and elements, flexbox based responsive layout system, pure CSS components and utilities with best practice coding and consistent design language.'

block docs-content
  //- Introduction
  +docs-heading('introduction', 'Introduction')
    p 
    strong Spectre.css 
    | is a lightweight, responsive and modern CSS framework for faster and extensible development.
    p 
    | Spectre provides basic styles for typography and elements, flexbox based responsive layout system, pure CSS components and utilities with best practice coding and consistent design language.

    .columns
      .column
        .tile.tile-centered
          .tile-icon
            .example-tile-icon
              i.icon.icon-mail.centered
          .tile-content
            .tile-title spectre-docs.pdf
            .tile-subtitle.text-gray 14MB 路 Public 路 1 Jan, 2017
          .tile-action
            button.btn.btn-link.btn-action
              i.icon.icon-more-vert
      .column
        .tile.tile-centered
          .tile-icon
            .example-tile-icon
              i.icon.icon-mail.centered
          .tile-content
            .tile-title spectre-docs.pdf
            .tile-subtitle.text-gray 14MB 路 Public 路 1 Jan, 2017
          .tile-action
            button.btn.btn-link.btn-action
              i.icon.icon-more-vert


  include _layout/_footer.pug
