$icon-border-width: $border-width-lg;

.icon {
  box-sizing: border-box;
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  height: 1em;
  position: relative;
  text-indent: -9999px;
  vertical-align: middle;
  width: 1em;
  &::before,
  &::after {
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

// Component icon support
.accordion,
.btn,
.toast,
.menu {
  .icon {
    vertical-align: -10%;
  }
}
