/*! Spectre.css Docs | MIT License | github.com/picturepan2/spectre */
/* Spectre version */
.version::after {
  content: "0.2.4";
}
/* Spectre docs style */
.bg-gray {
  background: #f6f6f6;
  color: #666;
  padding: 1rem;
}
.bg-dark {
  background: #333;
  color: #fff;
  padding: 1rem;
}
.bg-primary {
  background: #5764c6;
  color: #fff;
  padding: 1rem;
}
.grid-header .navbar-brand {
  color: #444;
}
.grid-header .navbar-brand .icon {
  font-size: 1.3333em;
  line-height: .8em;
  vertical-align: -20%;
}
.grid-header .btn {
  color: #666;
}
.grid-header .btn:hover,
.grid-header .btn:focus,
.grid-header .btn:active {
  color: #444;
  opacity: .75;
}
.grid-hero {
  margin-bottom: 4rem;
  margin-top: 10rem;
}
.grid-hero h1 {
  color: #555;
  font-size: 3.2rem;
  font-weight: 400;
}
.grid-hero h2 {
  color: #666;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 3rem;
}
.grid-hero h2 u {
  border-bottom: .2rem solid #666;
  padding-bottom: .1rem;
  text-decoration: none;
}
.grid-hero .card {
  background: none;
  border: 0;
  color: #666;
  padding: 1rem;
}
.grid-hero .card .card-title {
  color: #5764c6;
  font-size: 1.8rem;
  margin-bottom: 0;
}
.grid-footer {
  color: #888;
  margin-bottom: 3rem;
  margin-top: 4rem;
}
.grid-footer a {
  color: #666;
}
.grid-ads {
  border-radius: .2rem;
  display: block;
  height: 12rem;
  margin: 2rem auto;
  max-width: 64rem;
  padding: 1rem;
  width: 100%;
}
.docs-content .container {
  padding: 2rem 1rem;
}
.docs-content header {
  color: #444;
  padding-top: 2rem;
}
.docs-content .notes {
  color: #666;
  margin: 4rem 0;
}
.docs-content .docs-block {
  border-radius: .2rem;
  padding: 1rem .5rem;
}
.docs-content .docs-dot {
  border-radius: 50%;
  display: block;
  height: 1rem;
  margin: auto;
  padding: 0;
  width: 1rem;
}
.docs-content .docs-table th,
.docs-content .docs-table td {
  padding: 1rem .5rem;
}
.docs-content h1,
.docs-content h2,
.docs-content h3,
.docs-content h4,
.docs-content h5,
.docs-content h6 {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.docs-content .code .com {
  color: #c5c5c5;
}
.docs-content .code .tag {
  color: #5764c6;
}
.docs-content .code .atn {
  color: #666;
}
.docs-content .code .atv {
  color: #e06870;
}
.docs-content .empty .icon {
  font-size: 6rem;
}
.docs-content .example-tile-icon {
  -webkit-align-content: space-around;
  align-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  background: #5764c6;
  border-radius: .2rem;
  color: #fff;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-align: center;
  -ms-flex-line-pack: distribute;
  font-size: 2.4rem;
  height: 4rem;
  width: 4rem;
}
@media screen and (min-width: 481px) {
  .docs-sidebar {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
  .docs-sidebar .docs-nav {
    position: relative;
  }
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .docs-sidebar .docs-nav {
      position: sticky;
      position: -webkit-sticky;
      top: 6rem;
    }
    .docs-sidebar .docs-nav .nav-item a:focus {
      box-shadow: none;
    }
  }
}
.docs-nav-clear {
  display: none;
}
@media screen and (max-width: 480px) {
  .grid-hero h2 {
    font-size: 1.8rem;
  }
  .grid-hero .card {
    padding: 0;
  }
  .section-header {
    padding: 0 .5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 299;
  }
  .section-header .btn-link {
    padding-left: .6rem;
    padding-right: .6rem;
  }
  .docs-sidebar {
    background: #fff;
    height: 100%;
    overflow-y: auto;
    padding-left: 3rem;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    transition: transform .2s ease, -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: -webkit-transform .2s ease;
    width: 24rem;
    z-index: 999;
  }
  .docs-sidebar:target {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    transition: transform .2s ease, -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: -webkit-transform .2s ease;
  }
  .docs-sidebar:target + .docs-nav-clear {
    display: block;
  }
  .docs-content header {
    padding-top: 6rem;
  }
  .docs-nav-clear {
    background: rgba(0, 0, 0, .15);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 499;
  }
}