/*! Spectre.css Docs | MIT License | github.com/picturepan2/spectre */
/* Spectre version */
.version::after {
  content: "0.2.15";
}
/* Spectre docs style */
.section-header {
  background: rgba(248, 249, 250, .9);
  padding: 10px 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}
.section-hero {
  padding: 10px;
  position: relative;
  z-index: 300;
}
.section-footer {
  color: #acb3c2;
  padding: 25px 15px 10px 15px;
  position: relative;
  z-index: 200;
}
.section-footer a {
  color: #727e96;
}
.grid-header .navbar {
  height: 40px;
}
.grid-header .navbar-section {
  padding: 0;
}
.grid-header .navbar-brand {
  color: #454d5d;
}
.grid-header .btn-link {
  color: #5b657a;
  margin-left: -5px;
  padding-left: 6px;
  padding-right: 6px;
}
.grid-header .btn-link:focus,
.grid-header .btn-link:hover,
.grid-header .btn-link:active {
  color: #454d5d;
  opacity: .75;
}
.grid-hero {
  margin-bottom: 40px;
  margin-top: 100px;
}
.grid-hero h1 {
  color: #454d5d;
  font-size: 32px;
  font-weight: 400;
}
.grid-hero h2 {
  color: #50596c;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}
.grid-hero h2 u {
  border-bottom: 2px solid currentColor;
  padding-bottom: 1px;
  text-decoration: none;
}
.grid-hero .card {
  background: none;
  border: 0;
  color: #5b657a;
  padding: 10px;
}
.grid-hero .card .card-title {
  color: #5764c6;
  font-size: 18px;
  margin-bottom: 0;
}
.docs-container {
  height: 100%;
  overflow: auto;
}
.docs-content {
  padding-top: 0;
}
.docs-content .container {
  padding: 10px;
}
.docs-content header {
  padding-top: 55px;
}
.docs-content .anchor {
  height: 0;
  margin-left: -1em;
  overflow: hidden;
  padding: 0 4px;
  position: absolute;
  width: 0;
}
.docs-content .anchor:focus,
.docs-content .anchor:hover {
  height: auto;
  text-decoration: none;
  width: auto;
}
.docs-content .notes {
  margin: 40px 0;
}
.docs-content .docs-block {
  border-radius: 2px;
  padding: 10px 5px;
}
.docs-content .docs-dot {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  padding: 0;
  width: 10px;
}
.docs-content .docs-table th,
.docs-content .docs-table td {
  padding: 15px 5px;
}
.docs-content h1,
.docs-content h2,
.docs-content h3,
.docs-content h4,
.docs-content h5,
.docs-content h6 {
  margin-bottom: 20px;
  margin-top: 20px;
}
.docs-content h1:hover .anchor,
.docs-content h2:hover .anchor,
.docs-content h3:hover .anchor,
.docs-content h4:hover .anchor,
.docs-content h5:hover .anchor,
.docs-content h6:hover .anchor {
  height: auto;
  width: auto;
}
.docs-content .docs-color {
  border-radius: 2px;
  margin: 5px 0;
  padding: 10px;
}
.docs-content .docs-color .color-subtitle {
  font-size: 12px;
  opacity: .75;
}
.docs-content .panel {
  height: 75vh;
}
.docs-content .panel .tile {
  margin: 15px 0;
}
.docs-content .code {
  color: #5b657a;
}
.docs-content .code .com {
  color: #acb3c2;
}
.docs-content .code .tag {
  color: #5764c6;
}
.docs-content .code .atn {
  color: #5b657a;
}
.docs-content .code .atv {
  color: #e06870;
}
.docs-content .empty .icon {
  font-size: 40px;
}
.docs-content .form-autocomplete .menu {
  position: static;
}
.docs-content .example-tile-icon {
  -webkit-align-content: space-around;
  align-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  background: #5764c6;
  border-radius: 2px;
  color: #fff;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-align: center;
  -ms-flex-line-pack: distribute;
  font-size: 24px;
  height: 40px;
  width: 40px;
}
.docs-content .example-tile-icon .icon {
  margin: auto;
}
.docs-content .comparison-slider .filter-grayscale {
  -webkit-filter: grayscale(75%);
  filter: grayscale(75%);
}
.docs-sidebar {
  width: 240px;
}
.docs-sidebar .accordion input:checked ~ .accordion-header {
  font-weight: bold;
}
.docs-sidebar .accordion .menu .menu-item > a {
  padding-left: 16px;
}
@media screen and (min-width: 601px) {
  .section-header .navbar-section {
    padding: 0 5px;
  }
  .docs-sidebar {
    padding: 70px 10px 30px 10px;
    position: relative;
  }
  .docs-sidebar .docs-nav {
    bottom: 30px;
    height: calc(100vh - 120px);
    overflow-y: auto;
    position: fixed;
    top: 90px;
    width: 240px;
  }
  .docs-content {
    width: calc(100% - 240px);
  }
}
.docs-nav-clear {
  display: none;
}
@media screen and (max-width: 600px) {
  .grid-hero h2 {
    font-size: 18px;
  }
  .grid-hero .card {
    padding: 0;
  }
  .docs-sidebar {
    background: #fff;
    height: 100%;
    left: 0;
    overflow-y: auto;
    padding: 60px 30px;
    position: fixed;
    top: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: transform .2s ease, -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: -webkit-transform .2s ease;
    z-index: 400;
  }
  .docs-sidebar:target {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    transition: transform .2s ease, -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: -webkit-transform .2s ease;
  }
  .docs-sidebar:target + .docs-nav-clear {
    display: block;
  }
  .docs-nav-clear {
    background: rgba(0, 0, 0, .15);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 300;
  }
}