/*! Spectre.css Experimentals | MIT License | github.com/picturepan2/spectre */
.progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  color: #5764c6;
  height: .4rem;
  width: 100%;
}
.progress::-webkit-progress-bar {
  background: #efefef;
  border-radius: .2rem;
}
.progress::-webkit-progress-value {
  background: #5764c6;
  border-radius: .2rem;
}
.progress::-moz-progress-bar {
  background: #5764c6;
  border-radius: .2rem;
}