/*! Spectre.css Icons | MIT License | github.com/picturepan2/spectre */
.icon {
  box-sizing: border-box;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  position: relative;
  text-indent: -999rem;
  vertical-align: middle;
  width: 1em;
}
.icon::before,
.icon::after {
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.icon-arrow-down::before,
.icon-arrow-left::before,
.icon-arrow-right::before,
.icon-arrow-up::before {
  border: .2rem solid currentColor;
  border-bottom: 0;
  border-right: 0;
  content: "";
  height: .65em;
  -webkit-transform: translate(-25%, -50%) rotate(-45deg);
  -ms-transform: translate(-25%, -50%) rotate(-45deg);
  transform: translate(-25%, -50%) rotate(-45deg);
  width: .65em;
}
.icon-arrow-down {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.icon-arrow-right {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.icon-arrow-up {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.icon-caret::before {
  border-left: .3em solid transparent;
  border-right: .3em solid transparent;
  border-top: .3em solid currentColor;
  content: "";
  height: 0;
  -webkit-transform: translate(-50%, -25%);
  -ms-transform: translate(-50%, -25%);
  transform: translate(-50%, -25%);
  width: 0;
}
.icon-menu::before {
  background: currentColor;
  box-shadow: 0 -.35em, 0 .35em;
  content: "";
  height: .2rem;
  width: 100%;
}
.icon-more-horiz::before,
.icon-more-vert::before {
  background: currentColor;
  border-radius: 50%;
  box-shadow: -.4em 0, .4em 0;
  content: "";
  height: .4rem;
  width: .4rem;
}
.icon-more-vert::before {
  box-shadow: 0 -.4em, 0 .4em;
}
.icon-plus::before,
.icon-minus::before,
.icon-cross::before {
  background: currentColor;
  content: "";
  height: .2rem;
  width: 100%;
}
.icon-plus::after,
.icon-cross::after {
  background: currentColor;
  content: "";
  height: 100%;
  width: .2rem;
}
.icon-cross::before,
.icon-cross::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.icon-check::before {
  border: .2rem solid currentColor;
  border-right: 0;
  border-top: 0;
  content: "";
  height: .6em;
  -webkit-transform: translate(-50%, -75%) rotate(-45deg);
  -ms-transform: translate(-50%, -75%) rotate(-45deg);
  transform: translate(-50%, -75%) rotate(-45deg);
  width: 1em;
}
.btn .icon,
.toast .icon,
.menu .icon {
  vertical-align: -10%;
}