// Label base style
@mixin label-base($padding-x: .2rem, $padding-y: .1rem) {
  border-radius: $border-radius;
  line-height: 1.25;
  padding: $padding-y $padding-x;
}

@mixin label-variant($color: $light-color, $bg-color: $primary-color) {
  background: $bg-color;
  color: $color;
}
