// Accordions
.accordion {
  input:checked ~,
  &[open] {
    & .accordion-header > {
      .icon:first-child {
        transform: rotate(90deg);
      }
    }

    & .accordion-body {
      max-height: 50rem;
    }
  }

  .accordion-header {
    display: block;
    padding: $unit-1 $unit-2;

    .icon {
      transition: transform .25s;
    }
  }

  .accordion-body {
    margin-bottom: $layout-spacing;
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s;
  }
}

// Remove the default details marker
// `list-style` covers modern browsers, the Webkit pseudo-element covers older Safari.
// Note that `::marker` cannot be used here, as it does not accept the `display` property.
summary.accordion-header {
  list-style: none;

  &::-webkit-details-marker {
    display: none;
  }
}
