@use "functions/color" as *;

// Codes
code {
  @include label-base();
  @include label-variant(var(--spectre-code-color), lighten-css(var(--spectre-code-color), 42.5%));
  font-size: 85%;
}

.code {
  border-radius: $border-radius;
  color: var(--spectre-body-font-color);
  position: relative;

  &::before {
    color: var(--spectre-gray-color);
    content: attr(data-lang);
    font-size: $font-size-sm;
    position: absolute;
    right: $layout-spacing;
    top: $unit-h;
  }

  code {
    background: var(--spectre-bg-color);
    color: inherit;
    display: block;
    line-height: 1.5;
    overflow-x: auto;
    padding: 1rem;
    width: 100%;
  }
}
