@use "functions/color" as *;

// Labels
.label {
  @include label-base();
  @include label-variant(lighten-css(var(--spectre-body-font-color), 5%), var(--spectre-bg-color-dark));
  display: inline-block;

  // Label rounded
  &.label-rounded {
    border-radius: 5rem;
    padding-left: .4rem;
    padding-right: .4rem; 
  }

  // Label colors
  &.label-primary {
    @include label-variant(var(--spectre-light-color), var(--spectre-primary-color));
  }

  &.label-secondary {
    @include label-variant(var(--spectre-primary-color), var(--spectre-secondary-color));
  }

  &.label-success {
    @include label-variant(var(--spectre-light-color), var(--spectre-success-color));
  }

  &.label-warning {
    @include label-variant(var(--spectre-light-color), var(--spectre-warning-color));
  }

  &.label-error {
    @include label-variant(var(--spectre-light-color), var(--spectre-error-color));
  }
}
