// Toasts
.toast {
  @include toast-variant(var(--spectre-dark-color));
  border: $border-width solid var(--spectre-dark-color);
  border-radius: $border-radius;
  color: var(--spectre-light-color);
  display: block;
  padding: $layout-spacing;
  width: 100%;

  &.toast-primary {
    @include toast-variant(var(--spectre-primary-color));
  }

  &.toast-success {
    @include toast-variant(var(--spectre-success-color));
  }

  &.toast-warning {
    @include toast-variant(var(--spectre-warning-color));
  }

  &.toast-error {
    @include toast-variant(var(--spectre-error-color));
  }

  a {
    color: var(--spectre-light-color);
    text-decoration: underline;
    
    &:focus,
    &:hover,
    &:active,
    &.active {
      opacity: .75;
    }
  }

  .btn-clear {
    margin: $unit-h;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
