/* Base */
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  color: @body-font-color;
  font-family: @body-font-family;
  font-size: @body-font-size;
  background-color: @body-bg;
}
