// Chips
.chip {
  align-items: center;
  background: @bg-color-dark;
  border-radius: 5rem;
  color: @gray-color-dark;
  display: inline-flex;
  height: @unit-6;
  margin: @unit-h;
  max-width: 100%;
  padding: @unit-h @unit-2 + @unit-h;
  text-decoration: none;
  vertical-align: middle;

  &.active {
    background: @primary-color;
    color: @light-color;
  }

  .avatar {
    margin-left: -(@unit-2 + @unit-h);
    margin-right: @unit-1;
  }
}
