// Chips
.chip {
  display: inline-flex;
  padding: .3rem .6rem;
  border-radius: .3rem;
  font-size: 1.2rem;
  vertical-align: middle;
  align-items: center;
  background-color: @core-border-color;
  border: 1px solid darken(@core-border-color, 5%);

  &:hover,
  &:focus {
    background-color: darken(@core-border-color, 2%);
  }

  .chip-name {
    margin-left: .4rem;
  }
}

// TODO: Chip contacts and files