// Forms
.form-group:not(:last-child) {
  margin-bottom: 1rem;
}
// Form element: Input boxes
.form-input {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 3.2rem;
  background-color: #fff;
  background-image: none;
  border: .1rem solid @control-color;
  border-radius: 3px;
  color: @body-font-color;
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: .7rem .8rem;
  -webkit-appearance: none;
  outline: 0;

  &:focus {
    border-color: @core-color;
  }

  &[disabled] {
    opacity: .75;
    background-color: #eeeff2;
    pointer-events: none;
  }

  // Input Small
  &.input-sm {
    height: 2.4rem;
    border-radius: 2px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding: .4rem .6rem;
  }

  // Input Large
  &.input-lg {
    height: 4.2rem;
    border-radius: 4px;
    font-size: 1.8rem;
    line-height: 2rem;
    padding: 1rem 1.2rem;
  }

  // Input Inline
  &.input-inline {
    width: auto;
    display: inline-block;
  }

  // Textarea
  textarea& {
    height: auto;
  }

  // Status
  .has-success &,
  &.is-success {
    border-color: @control-color-success;
  }
  .has-danger &,
  &.is-danger {
    border-color: @control-color-danger;
  }

  // TODO: Input with icons
}
// Form element: Label
.form-label {
  display: block;
  margin-bottom: .5rem;
}
// Form element: Select
.form-select {
  &:not([multiple]) {
    height: 3.2rem;
    background-color: #fff;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: .7rem .8rem;
    border: .1rem solid @control-color;
    border-radius: 3px;
    outline: 0;
  }

  &:focus {
    border-color: @core-color;
  }

  // Select Small
  &.select-sm {
    height: 2.4rem;
    border-radius: 2px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding: .4rem .6rem;
  }
}

// Form element: Checkbox and radio
.form-checkbox,
.form-radio {
  line-height: 1.8rem;
  padding: .3rem 1.8rem .3rem 1.8rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.form-checkbox input,
.form-radio input {
  font-size: 14px;
  line-height: 24px;
  vertical-align: top;
  border: .1rem solid @control-color;
  float: left;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  padding: 0;
  position: absolute;
  top: .5rem;
  left: 0;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;

  &:hover {
    border-color: darken(@control-color, 15%);
  }
  &:checked {
    background-color: @core-color;
    border-color: @core-color;
  }
}
.form-checkbox input {
  border-radius: 2px;

  &:checked {
    &::after {
      width: .6rem;
      height: 1rem;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -.6rem;
      margin-left: -.3rem;
      border: .2rem solid #fff;
      border-top-width: 0;
      border-left-width: 0;
      transform: rotate(45deg);
    }
  }
}
.form-radio input {
  border-radius: .7rem;

  &:checked {
    &::after {
      width: .4rem;
      height: .4rem;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -.2rem;
      margin-left: -.2rem;
      border-radius: .2rem;
      background-color: #fff;
    }
  }
}