// Layout
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  &:extend(.clearfix all);
}
@media screen and (min-width: 961px) {
  .container {
    &.grid-960 {
      width: 96rem;
    }
  }
}

.columns {
  margin-left: -1rem;
  margin-right: -1rem;
  &:extend(.clearfix all);
}
.column {
  flex: 1;
  padding: 1rem;
}
@media screen and (min-width: 769px) {
  .columns {
    display: flex;
  }
  .column {
    &.col-12,
    &.col-11,
    &.col-10,
    &.col-9,
    &.col-8,
    &.col-7,
    &.col-6,
    &.col-5,
    &.col-4,
    &.col-3,
    &.col-2,
    &.col-1 {
      flex: none;
    }
  }
  .col-12 {
    width: 100%;
  }
  .col-11 {
    width: 91.66666667%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-9 {
    width: 75%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-6 {
    width: 50%;
  }
  .col-5 {
    width: 41.66666667%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-3 {
    width: 25%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-1 {
    width: 8.33333333%;
  }
}

