// Media
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
.video-responsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 3rem;
  position: relative;

  iframe,
  object,
  embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  video {
    height: auto;
    max-width: 100%;
    width: 100%;
  }
}
