// Menus
.menu {
  display: block;
  text-align: left;
  margin: 0;
  padding: 1rem;
  border-radius: .3rem;
  background-color: #fff;
  z-index: 999;
  .shadow;

  .menu-item {
    display: block;
    padding: .2rem 1rem;
    margin-top: 0;
    border-radius: .3rem;
    color: @body-font-color;
    line-height: 2.4rem;
    text-decoration: none;
    user-select: none;

    a {
      display: block;
      margin: -.2rem -1rem;
      padding: .2rem 1rem;
      border-radius: .3rem;
      color: inherit;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: lighten(@core-border-color, 2%);
      }
      &:active,
      &.active {
        background-color: @core-border-color;
      }
    }
  }

  .menu-header {
    display: block;
    padding: .2rem 1rem;
    margin-top: 0;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: lighten(@body-font-color, 60%);

    .menu-header-text {
      display: inline-block;
      padding: 0 .6rem;
      margin-left: -.6rem;
      background-color: #fff;
      position: relative;
      z-index: 99;
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: .1rem;
      transform: translateY(-1rem);
      border-bottom: .1rem solid @core-border-color;
    }
  }

  .divider {
    display: block;
    border-bottom: .1rem solid @core-border-color;
    margin: .5rem;
  }
}

// TODO: Menus with icons
