// Core mixins
.clearfix() {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}
.control-shadow(@color: @primary-color) {
  box-shadow: 0 0 0 .2rem fade(@color, 15%);
}
.control-transition() {
  transition: all .2s ease;
}
.toast-variant(@color) {
  background: fade(@color, 90%);
  border-color: @color;
}
.label-base() {
  border-radius: @border-radius;
  display: inline-block;
  line-height: 1;
  padding: .3rem .4rem;
  vertical-align: baseline;
}
.label-variant(@color) {
  background: @color;
  color: @light-color;
}
