// Navigation
.breadcrumb,
.tab,
.pagination {
  list-style: none;
  margin: .5rem 0;
}
// Breadcrumbs
.breadcrumb {
  padding: 1.2rem;

  .breadcrumb-item {
    display: inline-block;
    margin: 0;

    a {
      text-decoration: none;
    }

    &:last-child {
      &,
      a {
        color: lighten(@body-font-color, 20%);
        pointer-events: none;
      }
    }

    &:not(:last-child) {
      &::after {
        content: "/";
        padding: 0 .4rem;
        color: @control-color;
      }
    }
  }
}
// Tabs
.tab {
  display: block;
  border-bottom: .1rem solid @control-color;
  .clearfix();

  .tab-item {
    display: inline-block;
    margin-bottom: -.1rem;
    margin-right: .2rem;
    padding: .5rem 1.5rem;

    a {
      display: block;
      padding: .5rem 1.5rem;
      margin: -.5rem -1.5rem;
      border-bottom: .2rem solid transparent;
      color: @body-font-color;
      text-decoration: none;

      &:hover,
      &:focus {
        border-bottom-color: @core-color;
        color: @core-color;
      }
    }

    &.active {
      a {
        border-bottom-color: darken(@core-color, 10%);
        color: darken(@core-color, 10%);
      }
    }
  }

  &.tab-block {
    display: flex;

    .tab-item {
      flex: 1 0 auto;
      text-align: center;
    }
  }
}
// Pagination
.pagination {
  display: inline-block;
  padding: 1.2rem;

  .page-item {
    display: inline-block;

    span {
      display: inline-block;
      padding: .6rem .5rem;
    }
    a {
      display: inline-block;
      padding: .6rem 1.2rem;
      margin: 0 .1rem;
      border-radius: .3rem;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: lighten(@core-color, 40%);
      }
    }

    &.active {
      a {
        color: #fff;
        background-color: @core-color;
      }
    }
  }
}

