// Tables
.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  th,
  td {
    border-bottom: .1rem solid @core-border-color;
    padding: 1.5rem 1rem;
    text-align: left;
  }
  th {
    border-color: darken(@core-border-color, 15%);
  }
  .selected {
    background-color: lighten(@core-border-color, 2%);
  }
}
