// Tables
.table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  width: 100%;

  &.table-striped {
    tbody {
      tr:nth-of-type(odd) {
        background: @core-bg-color;
      }
    }
  }
  &.table-hover {
    tbody {
      tr {
        &:hover {
          background: darken(@core-bg-color, 3%);
        }
      }
    }
  }
  &,
  &.table-striped {
    tbody {
      tr {
        &.active {
          background: darken(@core-bg-color, 3%);
        }
      }
    }
  }
  th,
  td {
    border-bottom: .1rem solid @core-border-color;
    padding: 1.5rem 1rem;
  }
  th {
    border-color: darken(@core-border-color, 5%);
  }
}
