// Tabs
.tab {
  align-items: center;
  border-bottom: .1rem solid @core-border-color;
  display: flex;
  flex-wrap: wrap;

  .tab-item {
    margin-top: 0;

    &.tab-action {
      flex: 1 0 auto;
      text-align: right;
    }

    a {
      border-bottom: .2rem solid transparent;
      color: @body-font-color;
      display: block;
      margin-bottom: -.1rem;
      margin-top: 0;
      padding: .6rem 1.2rem;
      text-decoration: none;
      &:focus,
      &:hover {
        color: @core-link-color;
      }
    }
    &.active a,
    a.active {
      border-bottom-color: @core-color;
      color: @core-link-color;
    }
  }

  &.tab-block {
    .tab-item {
      flex: 1 0 auto;
      text-align: center;

      .badge {
        &[data-badge]::after {
          position: absolute;
          right: -.4rem;
          top: -.4rem;
          transform: translate(0, 0);
        }
      }
    }
  }

  &:not(.tab-block) {
    a.badge {
      padding-right: 0;
      &::after {
        position: static;
        transform: translate(-.2rem, -1rem);
      }
    }
  }
}
