// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.1;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  color: inherit;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.6rem;
}
p {
  line-height: 1.428571429;
  margin: 0 0 1rem;

  &.lead {
    font-size: 120%;
  }
}
blockquote {
  padding: 1rem 2rem;
  border-left: .2rem solid #ddd;
  margin-left: 0;

  p:last-child {
    margin-bottom: 0;
  }

  small {
    color: lighten(@body-font-color, 50%);
  }
}
ul,
ol {
  margin: 0 0 1rem;

  ul,
  ol {
    margin-left: 2rem;
  }

  li {
    margin-top: 1rem;
  }
}
ul {
  list-style: disc inside;

  ul {
    list-style-type: circle;
  }
}
ol {
  list-style: decimal inside;

  ol {
    list-style-type: lower-alpha;
  }
}

.highlight {
  padding: .2rem;
  line-height: 1.6rem;
  border-radius: .2rem;
  background-color: #fff5b7;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}

.text-bold {
  font-weight: bold;
}
.text-italic {
  font-style: italic;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-clip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.text-break {
  word-break: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

// Code
pre {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1.5rem;
  border-left: .2rem solid @core-color;
  line-height: 1.8rem;
  background-color: lighten(@core-border-color, 4%);
}
code {
  padding: .2rem .4rem;
  margin: -.2rem .1em 0 .1em;
  border-radius: .2rem;
  background-color: @core-border-color;
  font-size: .9em;
  line-height: 1em;
  vertical-align: baseline;
  white-space: nowrap;

  pre & {
    margin-top: 0;
    margin-bottom: 0;
    border-left: 0;
    background-color: transparent;
    line-height: 1.8rem;
  }
}