// Core variables

// Global
@body-bg: #fff;
@body-font-color: #333;
@body-font-size: 14px;
@body-font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", WenQuanYi Micro Hei, sans-serif;

// Colors
@core-color: #5764C6;
@control-color: #c5c5c5;
@control-color-success: #00c372;
@control-color-warning: #fccf42;
@control-color-danger: #e74c3c;


// Mixins
.clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}