// Core variables

// Global
@html-font-size: 10px;
@html-line-height: 1.428571429;
@body-bg: #fff;
@body-font-color: #333;
@body-font-size: 1.4rem;

// Fonts
// Credit: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
@base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
@fallback-font-family: "Helvetica Neue", sans-serif;
@cjk-font-family: @base-font-family, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", @fallback-font-family;
@body-font-family: @base-font-family, @fallback-font-family;

// Sizes
@layout-gutter: 1rem;
@control-min-width: 18rem;
@border-radius: .2rem;

// Colors
@primary-color: #5764c6;
@dark-primary-color: darken(@primary-color, 5%);
@secondary-color: lighten(@primary-color, 42%);
@dark-color: #333;
@dark-gray-color: #666;
@gray-color: #999;
@light-gray-color: #c5c5c5;
@light-color: #fff;
@link-color: @primary-color;
@dark-link-color: darken(@link-color, 5%);
@border-color: #efefef;
@bg-color: #f8f8f8;
@dark-bg-color: darken(@bg-color, 3%);
@light-bg-color: #fff;
@control-color: #c5c5c5;
@control-color-success: #32b643;
@control-color-warning: #ffb700;
@control-color-danger: #e85600;
@code-color: #e06870;

// Responsive breakpoints
@size-xs: 480px;
@size-sm: 600px;
@size-md: 840px;
@size-lg: 960px;
@size-xl: 1280px;
